<%- include('header-html'); %>

<%- include('blocks/navbar'); %>

<main role="main">

  <div class="ipgeo py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-8 offset-2">
          <div class="card mb-4 box-shadow">
            <h5 class="card-header text-primary"><i class="fa fa-fw fa-list-ol text-secondary"></i> IP List</h5>
            <div class="card-body">

            </div>
            <!-- .card-body -->
          </div>
          <!-- .card -->
        </div>
        <!-- #apiPanel -->

      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .ipgeo -->
</main>

<%- include('blocks/footer'); %>

<%- include('footer-html', {data: {}}); %>
