<%- include('header-html'); %>

<%- include('blocks/navbar'); %>

<main role="main">

  <div class="ipgeo py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-6 offset-3">
          <div class="card mb-4 box-shadow">
            <h5 class="card-header text-primary"><i class="fa fa-fw fa-eye text-secondary"></i> Privacy Policy</h5>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim arcu tincidunt libero tincidunt malesuada. Integer
                lacinia nunc id malesuada pellentesque. Suspendisse potenti. Vivamus dui metus, venenatis id tincidunt
                quis, venenatis sit amet mi. Nam euismod ut lorem vel malesuada. </p>
              <p class="card-text">
                Etiam vulputate dapibus arcu et semper.
                Quisque vulputate pellentesque blandit. Maecenas eleifend ut justo ut sollicitudin. Orci varius natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim arcu tincidunt libero tincidunt malesuada. Integer
                lacinia nunc id malesuada pellentesque. Suspendisse potenti. Vivamus dui metus, venenatis id tincidunt
                quis, venenatis sit amet mi. Nam euismod ut lorem vel malesuada. </p>
              <p class="card-text">
                Etiam vulputate dapibus arcu et semper.
                Quisque vulputate pellentesque blandit. Maecenas eleifend ut justo ut sollicitudin. Orci varius natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>

            </div>
          </div>
        </div>
        <!-- #apiPanel -->

      </div>
      <!-- .row -->

    </div>
    <!-- .container -->
  </div>
  <!-- .ipgeo -->

</main>

<%- include('blocks/footer'); %>
  <%#
#%>

<%- include('footer-html', {data: {}}); %>