@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* 
https://i.imgur.com/vnUeVVm.png
http://paletton.com/#uid=74q0u0knIrFejDpjuuKrznsuSiD 
*/

body {
  font-family: 'Ubuntu', sans-serif;
}

#map {
  width: 100%;
  height: 400px;
}

/* Custom */
.navbar-brand {
  font-size: 1.4em;
}
.navbar-brand .smaller {
  font-size: 0.8em;
}

.text-col-1 {
  color: #A0B619 
}

.text-col-2 {
  color: #B66ABE
}

.bg-navbar {
  background-color: #EEE5FB;
}

/* Logo */
.navbar-brand .logo-text {
  margin-top: -6px;
}

/* Bootstrap overrides */

.footer .bg-secondary,
.footer .bg-secondary a {
  color: rgb(216, 216, 216);
}
.footer .bg-secondary a:hover {
  color: rgb(255, 255, 255);
}

/* ip data table */

.ipdata-table th:first-child {
  text-align: right;
}

/* myreq */

.request-table th {
  border-top: none;
}

.request-table th:first-child,
.request-table td:first-child {
  text-align: right;
  font-weight: bold;
}

/* Contact us */

.contactus-panel {
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
}

/* About */

.about-credits {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
}
