@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: 'Ubuntu', sans-serif;
}

#map {
  width: 100%;
  height: 400px;
}

/* Bootstrap overrides */

.navbar a {
  color: #ffd753 !important;  
}

.navbar a:hover {
  color: rgb(255, 255, 255) !important;
}

.navbar-nav > .active > a {
  color: rgb(255, 255, 255) !important;  
}

.footer .bg-secondary,
.footer .bg-secondary a {
  color: rgb(216, 216, 216);
}
.footer .bg-secondary a:hover {
  color: rgb(255, 255, 255);
}

/* ip data table */
.ipdata-table th:first-child {
  text-align: right;
}

/* myreq */

.request-table th {
  border-top: none;
}

.request-table th:first-child,
.request-table td:first-child {
  text-align: right;
  font-weight: bold;
}
