<% if (data.error) { %>
<div class="col-md-12">
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation fa-2x fa-fw" aria-hidden="true"></i> <%= data.error %>
    </div>
</div>
<% } %>