<footer class="footer">
  <div class="container-fluid bg-secondary">
    <p class="p-3 m-0 text-center"><%_
      _%> &copy;2018 ipzen.io<span class="px-3">•</span>  <%_
      _%> <a href="/about">About</a><span class="px-3">•</span>  <%_
      _%> <a href="/contact">Contact Us</a><span class="px-3">•</span>  <%_
      _%> <a href="/privacy">Privacy</a>  <%_
    _%></p>
  </div>
</footer>