<table class="table mb-0 mt-3 ipdata-table">
  <tbody>
    <% ipdata.forEach(function (item) { %>
      <% if (item.value) { %>
        <tr>
          <th class="py-1 <%= getStatusCss(item) || 'text-muted' %>">
            <%= item.key %>
          </th>
          <td class="py-1 <%= getStatusCss(item) %>">
            <%= item.value %>
          </td>
        <tr>
      <% } %>
    <% }); %>
  </tbody>
</table>