<nav class="navbar navbar-expand-md bg-navbar sticky-top py-0">
  <a class="navbar-brand" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
      <defs>
        <style type="text/css"><![CDATA[
           circle {
             stroke: #A0B619;
           }
           line {
             stroke: #B66ABE;
           }
        ]]></style>
      </defs>
      <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
      <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
      <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
      <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
      <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
      <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
      <circle cx="12" cy="12" r="10"></circle>
    </svg>
    <div class="logo-text">
      <span class="text-uppercase text-col-2">ip</span><%_ 
      _%><span class="text-uppercase smaller text-col-1">zen</span><%_ 
      _%><span class="text-secondary">.</span><%_ 
      _%><span class="text-uppercase text-col-2">io</span>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= isNavItemActive(['','/','/ips']) %>">
        <a class="nav-link" href="/"><i class="fa fa-map-marker fa-lg fa-fw" aria-hidden="true"></i> IP Geolocation</a>
      </li>
      <li class="nav-item <%= isNavItemActive('/myreq') %>">
        <a class="nav-link" href="/myreq"><i class="fa fa-map-signs fa-lg fa-fw" aria-hidden="true"></i> My Request Headers</a>
      </li>
      <li class="nav-item <%= isNavItemActive('/allip') %>">
        <a class="nav-link" href="/allip"><i class="fa fa-list-ol fa-lg fa-fw" aria-hidden="true"></i> All IP addresses</a>
      </li>
    </ul>
  </div>
</nav>
