<form method="POST" action="/">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">IP</div>
    </div>
    <input type="text" name="ip" class="form-control" id="txtIpAddress" placeholder="IP Address" value="<%= data.ip %>" />
    <div class="input-group-append">
      <button class="btn" type="submit">
        <i class="fa fa-lg fa-search"></i>
      </button>
    </div>
  </div>
</form>